<a href="https://colab.research.google.com/github/hyerin-Ko/-/blob/main/DAY01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=5
print(n)
print(n)
n=10
print(n)

5
5
10

In [ ]:
n=15  
print(n)
print(type(n))

m=int(20.5) # <-- type casting
print(m)
print(type(n))

15
<class 'int'>
20
<class 'int'>

In [ ]:
n=15.5
print(n)
print(type(n))

m=float(20)
print(m)
print(type(m))  # <-- float

15.5
<class 'float'>
20.0
<class 'float'>

In [ ]:
n='15.5'
print(n)
print(type(n))

m=str(20.5)
print(m)
print(type(m))

15.5
<class 'str'>
20.5
<class 'str'>

In [ ]:
# bool (Boolean) : True / False , 1 / 0

n= False
print(n)
print(type(n))

m=bool(123)
print(m)
print(type(m))

False
<class 'bool'>
True
<class 'bool'>

In [ ]:
#사칙연산
n=3
m=7
print(n+m)
print(n-m)
print(n*m)
print(m/n)
print(m%n) # 7/3 나머지

print(n**2)
print(m//n) #몫만 보여줌

10
-4
21
2.3333333333333335
1
9
2

In [ ]:
#List
n=[1,2,2,3,4,5]
print(n)
print(type(n))

#method / 함수 
n.append(2)
print(n)
print(n.count(2))
n.sort()
print(n)
n.clear()
print(n)

[1, 2, 2, 3, 4, 5]
<class 'list'>
[1, 2, 2, 3, 4, 5, 2]
3
[1, 2, 2, 2, 3, 4, 5]
[]

In [ ]:
# tuple (리스트하고 같지만 완성하면 중간에 숫자 못넣음)
n=(10,20,30,20,40,50)
print(n)
print(type(n))

n.index(20)
n.index(20 , 2) # 2번째부터 20의 위치

(10, 20, 30, 20, 40, 50)
<class 'tuple'>

3

In [ ]:
# Set
n={1,2,2,3,4,4,5}
print(n)
print(type(n))

n.add(10) # ex)n.add(5) -> 이미 있기 때문에 그대로
print(n)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 10}

In [ ]:
# Dictionary
n={'A':1,'B':2, 'C':3, 'D':4, 'E':5}
print(n)
print(type(n))

#print(n['X']) 있는 키만 사용 없을시 에러
print(n.get('X')) # get 메소드 사용 시 에러X -> none
print(n.keys()) # result-> key값만 리스트로 보여줌
print(n.values())
print(n.items()) # result-> 리스트 안에 튜플 안에 키&값

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
<class 'dict'>
None
dict_keys(['A', 'B', 'C', 'D', 'E'])
dict_values([1, 2, 3, 4, 5])
dict_items([('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)])

In [ ]:
# list, tuple, set, dictionary --> iterable; iterate 순환

n= {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}

for i in n:
  print(n[i])

  #for x in n:
  #print (n{x})

1
2
3
4
5