<a href="https://colab.research.google.com/github/hyerin-Ko/-/blob/main/DAY02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=3
m=5

print(n==m)
print(n>m)
print(n<m)
print(n!=m) # != -> 같지않다

False
False
True
True

In [ ]:
if n==m: #n값과 m값이 같다면 실행
   print("두 값이 같습니다.")
else:
  print("두 값이 다릅니다.")

if n<=m:
  print("n이 m보다 작거나 같습니다.")
elif n%3==0:
  print("n은 3의 배수입니다.") ### n이 3의 배수이지만 첫번째 if구문이 참이기 때문에 두번째 구문 실행X
else:
  print("마지막 else.")

두 값이 다릅니다.
n이 m보다 작거나 같습니다.

In [ ]:
x=[1,2,3]

if 3 in x:
  print("리스트에 3이 있습니다.")
if 5 not in [3,2,1]:
  print("리스트에 5가 없습니다.")

리스트에 3이 있습니다.
리스트에 5가 없습니다.

In [ ]:
n=3

while n>0:
  print(n)
  n=n-1
  
y=[1,2,3]
while 3 in y:
  print('3이 세트 y에 있습니다.')
  y.remove(3)

3
2
1
3이 세트 y에 있습니다.

In [ ]:
x= [1,2,3,4,5]
z= []

for n in x:
 # print(n**2) # n제곱 
  z.append(n**2)

print(z)

In [ ]:
x= [3,5]

z=[]

for n in x:
  z.append(n**2)

print(z)

In [ ]:
x= [1,2,3,4,5]
z= [n**2 for n in x] # z 에 n을 넣어줌, for n in x (x에 있는 n을 하나하나 끌어옴)
                     # [a**2 for a in x]
print(z)

In [ ]:
####euler
sum_=0;
for n in range(1,10):
  if n%3==0 or n%5==0:
   print(n)
   sum_=sum_+n%3

print('sum:' ,sum_)

In [ ]:
####euler #1-ver2
numbers = []
for n in range(1,10):
  if n%3==0 or n%5==0:
   numbers.append(n)


print(numbers)
print(type(numbers))
print(sum(numbers))

In [ ]:
####euler #1-ver2
numbers = []
for n in range(1,1000):
  if n%3==0 or n%5==0:
   numbers.append(n)


#print(numbers)
number_set=set(numbers)
#print(type(number_set))
print(sum(number_set))

233168

In [ ]:
# [1,2,3] + [4,5,6] = [1,2,3,4,5,6]

list_3 = [n for n in range(3,1000,3)]
list_5 = [n for n in range(5,1000,5)]
set_x = set(list_3 + list_5)
#print(set_X)
print(sum(set_x))

In [ ]:
list1=[n for n in range(10,20)]
print(list1)
print(list1[1:8:2])
print(list1[1:-3]) #뒤에서 3번째